<% todos.each do |todo| %>
    <li class="todo">
        <p class=""><%= todo.title %></p>
        <p><%= todo.comment %></p>
        <p><%= todo.created_at.strftime("%Y年%m月%d日") %></p>
        <%= link_to todo_path(todo), method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <i class="fas fa-edit"></i>
    </li>
<% end %>
