/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "variables";
@import "bootstrap";

body {
  background-color: #bc763c;
  margin: 0 auto;

  /* headerのcss */

  //   headerの青空の画像
  img.bg_sky {
    width: 100%;
  }
  //   headerの青空の画像

  //   headerの太陽の画像
  img.bg_sun {
    position: absolute;
    width: 15vw;
    top: 30px;
    right: 60px;
  }
  //   headerの太陽の画像
}

// SP
@media (max-width: $media-sp-max) {
}

// PC
@media (min-width: $media-pc-min) {
  body {
    main {
      padding: 60px;
      margin: 0 auto;
    }
  }

  /* Todo一覧のCSS */
  .todoIndex {
    padding: 25px 0 25px 0;
    background-color: #deb068; /* 飴色 */
    width: 80%;
    margin: auto;

    li {
      list-style: none;

      p {
        margin: 0;
      }

      a {
        cursor: default;
        color: inherit;
        text-decoration: none;
        i {
          opacity: 0.5;
        }
      }
    }
  }

  .btn-success {
    position: fixed;
    left: 87%;
    top: 50%;
    border-radius: 9999px;
    font-size: 90px;
    width: 150px;
    opacity: 0.8;
  }
  //   モーダルウィンドウ起動のボタン
}
