// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

/* Todo一覧のCSS */
body {
  background-color: #bc763c;
  margin: 0 auto;

  /* headerのcss */
  img.bg_sky {
    width: 100%;
  }
  img.bg_sun {
    position: absolute;
    width: 15vw;
    top: 30px;
    right: 60px;
  }
  img.logo {
    width: 50%;
    position: absolute;
    top: 8%;
    left: 22%;
  }
}

// SP
@media (max-width: $media-sp-max) {
}

// PC
@media (min-width: $media-pc-min) {
  body {
    main {
      padding: 60px;
      margin: 0 auto;
    }
  }

  /* Todo一覧のCSS */
  .todoIndex {
    padding: 25px 0 25px 0;
    background-color: #deb068;
    width: 80%;
    margin: auto;
    /* 飴色 */
  }

  .todo {
    background: white;
    width: 90%;
    margin: auto;
    padding: 10px 15px 10px 15px;
    font-family: Hiragino Maru Gothic ProN W4;
  }

  // Todo一覧の上下の間隔を記載
  .todoIndex > * + * {
    margin-top: 15px;
  }

  /* modal window */
  .modalsearch {
    position: fixed;
    background-size: cover;
    background-repeat: repeat;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    width: 80vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 2;
    display: none;
  }

  .modalsearch-contents {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    .regist_todo {
      margin-bottom: 30px;
      font-family: Hiragino Maru Gothic ProN W4;
    }
    .mole {
      width: 12vw;
      position: absolute;
      top: 74%;
      left: 70%;
    }
  }

  .flower {
    width: 18vh;
    position: absolute;
    top: 80%;
    left: 3%;
  }

  .wakaba {
    width: 10%;
    position: absolute;
    left: 25%;
    bottom: -1%;
  }

  .masksearch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: none;
  }

  h4 {
    font-family: Hiragino Maru Gothic ProN W4;
  }

  form {
    width: 100%;
    .regist_todo_comment {
      margin-top: 20px;
    }
  }

  #todo_title {
    width: 100%;
    height: 5vh;
  }
  #todo_comment {
    width: 100%;
    height: 10vh;
  }
}

// SP
@media (max-width: $media-sp-max) {
  .todos-index {
    form {
      width: 100%;
    }
  }
}

// PC
@media (min-width: $media-pc-min) {
  .todos-index {
    form {
      width: 100%;
    }
  }
}
