// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

// SP
@media (max-width: $media-sp-max) {
  .users-passwords-edit {
    width: 90%;
  }
  .users-registrations-new {
    width: 90%;
  }
  .users-sessions-new {
    width: 90%;
  }
}

// PC
@media (min-width: $media-pc-min) {
  .users-passwords-edit {
    width: 80%;
  }
  .users-registrations-new {
    width: 80%;
  }
  .users-sessions-new {
    width: 80%;
  }
}
